.emoteset-1.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-1.mood-1::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-1.webp?v=1765315873');
}
.emoteset-1.mood-15::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-15.webp?v=1765315874');
}
.emoteset-1.mood-10::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-10.webp?v=1765315873');
}
.emoteset-1.mood-12::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-12.webp?v=1765315874');
}
.emoteset-1.mood-25::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-25.webp?v=1765315874');
}
.emoteset-1.mood-26::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-26.webp?v=1765315874');
}
.emoteset-1.mood-9::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-9.webp?v=1765315873');
}
.emoteset-1.mood-21::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-21.webp?v=1765315874');
}
.emoteset-1.mood-4::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-4.webp?v=1765315873');
}
.emoteset-1.mood-31::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-31.webp?v=1765315874');
}
.emoteset-1.mood-17::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-17.webp?v=1765315874');
}
.emoteset-1.mood-16::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-16.webp?v=1765315874');
}
.emoteset-1.mood-18::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-18.webp?v=1765315874');
}
.emoteset-1.mood-34::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-34.webp?v=1765315874');
}
.emoteset-1.mood-2::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-2.webp?v=1765315873');
}
.emoteset-1.mood-19::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-19.webp?v=1765315874');
}
.emoteset-1.mood-35::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-35.webp?v=1765315874');
}
.emoteset-1.mood-37::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-37.webp?v=1765315874');
}
.emoteset-1.mood-8::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-8.webp?v=1765315873');
}
.emoteset-1.mood-40::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-40.webp?v=1765315874');
}
.emoteset-1.mood-14::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-14.webp?v=1765315874');
}
.emoteset-1.mood-22::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-22.webp?v=1765315874');
}
.emoteset-1.mood-23::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-23.webp?v=1765315874');
}
.emoteset-1.mood-24::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-24.webp?v=1765315874');
}
.emoteset-1.mood-7::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-7.webp?v=1765315873');
}
.emoteset-1.mood-5::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-5.webp?v=1765315873');
}
.emoteset-1.mood-27::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-27.webp?v=1765315874');
}
.emoteset-1.mood-28::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-28.webp?v=1765315874');
}
.emoteset-1.mood-29::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-29.webp?v=1765315874');
}
.emoteset-1.mood-30::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-30.webp?v=1765315874');
}
.emoteset-1.mood-3::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-3.webp?v=1765315873');
}
.emoteset-1.mood-32::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-32.webp?v=1765315874');
}
.emoteset-1.mood-33::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-33.webp?v=1765315874');
}
.emoteset-1.mood-13::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-13.webp?v=1765315874');
}
.emoteset-1.mood-20::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-20.webp?v=1765315874');
}
.emoteset-1.mood-36::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-36.webp?v=1765315874');
}
.emoteset-1.mood-11::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-11.webp?v=1765315873');
}
.emoteset-1.mood-38::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-38.webp?v=1765315874');
}
.emoteset-1.mood-39::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-39.webp?v=1765315874');
}
.emoteset-2.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-2.mood-41::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-41.webp?v=1765315874');
}
.emoteset-2.mood-42::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-42.webp?v=1765315874');
}
.emoteset-2.mood-43::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-43.webp?v=1765315874');
}
.emoteset-2.mood-44::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-44.webp?v=1765315874');
}
.emoteset-2.mood-45::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-45.webp?v=1765315874');
}
.emoteset-2.mood-46::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-46.webp?v=1765315874');
}
.emoteset-2.mood-47::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-47.webp?v=1765315874');
}
.emoteset-2.mood-48::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-48.webp?v=1765315874');
}
.emoteset-2.mood-49::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-49.webp?v=1765315874');
}
.emoteset-2.mood-50::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-50.webp?v=1765315874');
}
.emoteset-2.mood-51::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-51.webp?v=1765315874');
}
.emoteset-2.mood-52::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-52.webp?v=1765315874');
}
.emoteset-2.mood-53::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-53.webp?v=1765315874');
}
.emoteset-2.mood-54::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-54.webp?v=1765315874');
}
.emoteset-2.mood-55::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-55.webp?v=1765315874');
}
.emoteset-2.mood-56::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-56.webp?v=1765315874');
}
.emoteset-2.mood-57::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-57.webp?v=1765315874');
}
.emoteset-2.mood-58::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-58.webp?v=1765315874');
}
.emoteset-2.mood-59::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-59.webp?v=1765315874');
}
.emoteset-2.mood-60::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-60.webp?v=1765315874');
}
.emoteset-2.mood-61::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-61.webp?v=1765315874');
}
.emoteset-2.mood-62::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-62.webp?v=1765315874');
}
.emoteset-2.mood-63::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-63.webp?v=1765315874');
}
.emoteset-2.mood-64::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-64.webp?v=1765315874');
}
.emoteset-2.mood-65::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-65.webp?v=1765315874');
}
.emoteset-2.mood-66::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-66.webp?v=1765315874');
}
.emoteset-2.mood-67::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-67.webp?v=1765315874');
}
.emoteset-2.mood-68::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-68.webp?v=1765315875');
}
.emoteset-2.mood-69::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-69.webp?v=1765315875');
}
.emoteset-2.mood-70::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-70.webp?v=1765315875');
}
.emoteset-2.mood-71::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-71.webp?v=1765315875');
}
.emoteset-2.mood-72::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-72.webp?v=1765315875');
}
.emoteset-2.mood-73::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-73.webp?v=1765315875');
}
.emoteset-2.mood-74::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-74.webp?v=1765315875');
}
.emoteset-2.mood-75::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-75.webp?v=1765315875');
}
.emoteset-2.mood-76::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-76.webp?v=1765315875');
}
.emoteset-2.mood-77::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-77.webp?v=1765315875');
}
.emoteset-2.mood-78::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-78.webp?v=1765315875');
}
.emoteset-2.mood-79::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-79.webp?v=1765315875');
}
.emoteset-3.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-3.mood-80::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-80.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-80::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-81::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-81.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-81::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-82::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-82.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-82::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-83::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-83.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-83::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-84::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-84.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-84::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-85::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-85.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-85::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-86::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-86.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-86::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-87::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-87.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-87::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-88::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-88.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-88::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-89::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-89.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-89::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-90::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-90.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-90::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-91::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-91.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-91::before {
  image-rendering: pixelated;
}
.emoteset-3.mood-92::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-92.webp?v=1765315875');
}
*.emotes-large .emoteset-3.mood-92::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-4.mood-93::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-93.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-93::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-94::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-94.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-94::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-95::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-95.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-95::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-96::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-96.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-96::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-97::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-97.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-97::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-98::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-98.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-98::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-99::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-99.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-99::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-100::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-100.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-100::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-101::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-101.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-101::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-102::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-102.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-102::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-103::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-103.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-103::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-104::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-104.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-104::before {
  image-rendering: pixelated;
}
.emoteset-4.mood-105::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-105.webp?v=1765315875');
}
*.emotes-large .emoteset-4.mood-105::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-5.mood-106::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-106.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-106::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-107::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-107.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-107::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-108::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-108.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-108::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-109::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-109.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-109::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-110::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-110.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-110::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-111::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-111.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-111::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-112::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-112.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-112::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-113::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-113.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-113::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-114::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-114.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-114::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-115::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-115.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-115::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-116::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-116.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-116::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-117::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-117.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-117::before {
  image-rendering: pixelated;
}
.emoteset-5.mood-118::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-118.webp?v=1765315875');
}
*.emotes-large .emoteset-5.mood-118::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-6.mood-119::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-119.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-119::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-120::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-120.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-120::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-121::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-121.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-121::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-122::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-122.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-122::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-123::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-123.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-123::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-124::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-124.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-124::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-125::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-125.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-125::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-127::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-127.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-127::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-126::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-126.webp?v=1765315875');
}
*.emotes-large .emoteset-6.mood-126::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-128::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-128.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-128::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-130::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-130.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-130::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-131::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-131.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-131::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-132::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-132.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-132::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-133::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-133.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-133::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-134::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-134.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-134::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-135::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-135.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-135::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-136::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-136.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-136::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-137::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-137.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-137::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-138::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-138.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-138::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-139::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-139.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-139::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-140::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-140.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-140::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-141::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-141.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-141::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-142::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-142.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-142::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-143::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-143.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-143::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-144::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-144.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-144::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-145::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-145.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-145::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-146::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-146.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-146::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-147::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-147.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-147::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-148::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-148.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-148::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-149::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-149.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-149::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-150::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-150.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-150::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-151::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-151.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-151::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-152::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-152.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-152::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-153::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-153.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-153::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-154::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-154.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-154::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-155::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-155.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-155::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-156::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-156.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-156::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-157::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-157.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-157::before {
  image-rendering: pixelated;
}
.emoteset-6.mood-158::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-158.webp?v=1765315876');
}
*.emotes-large .emoteset-6.mood-158::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-7.mood-159::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-159.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-159::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-160::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-160.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-160::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-161::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-161.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-161::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-162::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-162.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-162::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-163::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-163.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-163::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-164::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-164.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-164::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-165::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-165.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-165::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-166::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-166.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-166::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-167::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-167.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-167::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-168::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-168.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-168::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-169::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-169.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-169::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-170::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-170.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-170::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-171::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-171.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-171::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-172::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-172.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-172::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-173::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-173.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-173::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-174::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-174.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-174::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-175::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-175.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-175::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-176::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-176.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-176::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-177::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-177.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-177::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-178::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-178.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-178::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-179::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-179.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-179::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-180::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-180.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-180::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-181::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-181.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-181::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-182::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-182.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-182::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-183::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-183.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-183::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-184::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-184.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-184::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-185::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-185.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-185::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-186::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-186.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-186::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-187::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-187.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-187::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-188::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-188.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-188::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-189::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-189.webp?v=1765315876');
}
*.emotes-large .emoteset-7.mood-189::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-190::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-190.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-190::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-191::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-191.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-191::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-192::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-192.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-192::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-193::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-193.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-193::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-194::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-194.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-194::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-195::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-195.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-195::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-196::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-196.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-196::before {
  image-rendering: pixelated;
}
.emoteset-7.mood-197::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-197.webp?v=1765315877');
}
*.emotes-large .emoteset-7.mood-197::before {
  image-rendering: pixelated;
}
.emoteset-8.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-8.mood-198::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-198.webp?v=1765315877');
}
.emoteset-8.mood-199::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-199.webp?v=1765315877');
}
.emoteset-8.mood-200::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-200.webp?v=1765315877');
}
.emoteset-8.mood-201::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-201.webp?v=1765315877');
}
.emoteset-8.mood-202::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-202.webp?v=1765315877');
}
.emoteset-8.mood-203::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-203.webp?v=1765315877');
}
.emoteset-8.mood-204::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-204.webp?v=1765315877');
}
.emoteset-8.mood-205::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-205.webp?v=1765315877');
}
.emoteset-8.mood-206::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-206.webp?v=1765315877');
}
.emoteset-8.mood-207::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-207.webp?v=1765315877');
}
.emoteset-8.mood-208::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-208.webp?v=1765315877');
}
.emoteset-8.mood-209::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-209.webp?v=1765315877');
}
.emoteset-8.mood-210::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-210.webp?v=1765315877');
}
.emoteset-8.mood-211::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-211.webp?v=1765315877');
}
.emoteset-8.mood-213::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-213.webp?v=1765315877');
}
.emoteset-8.mood-214::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-214.webp?v=1765315877');
}
.emoteset-8.mood-215::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-215.webp?v=1765315877');
}
.emoteset-8.mood-216::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-216.webp?v=1765315877');
}
.emoteset-8.mood-217::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-217.webp?v=1765315877');
}
.emoteset-8.mood-218::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-218.webp?v=1765315877');
}
.emoteset-8.mood-219::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-219.webp?v=1765315877');
}
.emoteset-8.mood-220::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-220.webp?v=1765315877');
}
.emoteset-8.mood-221::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-221.webp?v=1765315877');
}
.emoteset-8.mood-222::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-222.webp?v=1765315877');
}
.emoteset-8.mood-223::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-223.webp?v=1765315877');
}
.emoteset-8.mood-224::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-224.webp?v=1765315877');
}
.emoteset-8.mood-225::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-225.webp?v=1765315877');
}
.emoteset-8.mood-226::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-226.webp?v=1765315877');
}
.emoteset-8.mood-227::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-227.webp?v=1765315877');
}
.emoteset-8.mood-228::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-228.webp?v=1765315877');
}
.emoteset-8.mood-229::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-229.webp?v=1765315877');
}
.emoteset-8.mood-230::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-230.webp?v=1765315877');
}
.emoteset-8.mood-231::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-231.webp?v=1765315877');
}
.emoteset-8.mood-232::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-232.webp?v=1765315877');
}
.emoteset-8.mood-233::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-233.webp?v=1765315877');
}
.emoteset-8.mood-234::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-234.webp?v=1765315877');
}
.emoteset-8.mood-235::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-235.webp?v=1765315877');
}
.emoteset-8.mood-236::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-236.webp?v=1765315877');
}
.emoteset-8.mood-237::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-237.webp?v=1765315877');
}
.emoteset-9.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-9.mood-238::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-238.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-238::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-239::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-239.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-239::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-240::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-240.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-240::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-241::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-241.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-241::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-242::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-242.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-242::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-243::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-243.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-243::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-244::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-244.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-244::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-245::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-245.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-245::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-246::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-246.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-246::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-247::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-247.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-247::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-248::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-248.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-248::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-249::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-249.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-249::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-250::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-250.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-250::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-251::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-251.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-251::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-252::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-252.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-252::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-253::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-253.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-253::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-254::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-254.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-254::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-255::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-255.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-255::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-256::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-256.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-256::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-257::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-257.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-257::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-258::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-258.webp?v=1765315877');
}
*.emotes-large .emoteset-9.mood-258::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-259::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-259.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-259::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-260::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-260.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-260::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-261::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-261.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-261::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-262::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-262.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-262::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-263::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-263.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-263::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-264::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-264.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-264::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-265::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-265.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-265::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-266::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-266.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-266::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-267::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-267.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-267::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-268::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-268.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-268::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-269::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-269.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-269::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-270::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-270.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-270::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-271::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-271.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-271::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-272::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-272.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-272::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-273::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-273.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-273::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-274::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-274.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-274::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-275::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-275.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-275::before {
  image-rendering: pixelated;
}
.emoteset-9.mood-276::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-276.webp?v=1765315878');
}
*.emotes-large .emoteset-9.mood-276::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-6::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-6.webp?v=1765315873');
}
.emoteset-10.mood-277::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-277.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-277::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-278::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-278.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-278::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-279::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-279.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-279::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-280::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-280.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-280::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-281::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-281.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-281::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-282::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-282.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-282::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-283::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-283.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-283::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-284::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-284.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-284::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-285::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-285.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-285::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-286::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-286.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-286::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-287::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-287.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-287::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-288::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-288.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-288::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-289::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-289.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-289::before {
  image-rendering: pixelated;
}
.emoteset-10.mood-290::before {
  background-image: url('https://img.ngfiles.com/icons/emotes/emote-290.webp?v=1765315878');
}
*.emotes-large .emoteset-10.mood-290::before {
  image-rendering: pixelated;
}
